.contribute {
  margin-top: 0;
  text-align: center;
  padding: 2rem;
  background-color: lightblue;
  font-size: 1.15rem;
  flex-shrink: 0;
}

.contribute h2 {
  color: #d77158;
  font-size: 2rem;
  font-weight: normal;
  font-family: sans-serif;
  margin-bottom: 1rem;
}

.contribute p {
  margin: 1rem auto 1.5rem;
  text-align: centre;
}